[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flask = "*"
pylint = "*"
twine = "*"
black = "*"

[packages]
flask-restful = "*"
gunicorn = "*"
flask = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
